<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			<charset>UTF-8</charset>
   			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{80} - %message%n</pattern>
  		</encoder>
	</appender>

	<logger name="org.apache.http" level="debug" />

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
</configuration>